html {
    /*  box-sizing: border-box;*/
    scroll-behavior: smooth;
  }
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .block {
    width: 70%;
    min-width: 320px;
    max-width: 1200px;
    margin: auto;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #303030;
    background-color: #f0f0f0;
} 

.header-nav {
    position: relative;
}

.header-nav-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #cfe0b9;
}

.header-nav-list li {
    display: inline;
}

.header-nav-list li a {
    text-decoration: none;
    color: #303030;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;}

.left-side {
    box-sizing: border-box;
    width: 40%;
    padding: 20px 20px; 
    margin: 0px;
    text-align: center;
    background-color:#DCDCDC; 
}

.right-side {
    box-sizing: border-box;
    width: 60%;
    padding: 0;
    margin: 0px;
}

.photo {
    border-radius: 90%;
}

.contacts {
    text-align: left;
}

h2 {
    font-weight: bold;
    background-color: #cfe0b9;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    font-size: 15px;
}

h3 {
    font-weight: normal;
    font-size: 14px;
}

span {
    font-style: italic;
}

.section-education {
    padding: 0 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;    
    padding: 5px;
    align-items: center;
}